@model NalogaMS3.Models.Student

@{
    ViewData["Title"] = "Podrobnosti študenta";
}

<h1>Podrobnosti študenta</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Priimek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Priimek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Student_ID">Urejanje</a> |
    <a asp-action="Index">Izbriši</a>
</div>
