@model IEnumerable<OddajaView>;

@{
    ViewData["Title"] = "Pregled Oddaj";
}

<h2>Naloga: @ViewBag.NalogaNaslov</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImeStudenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumOddaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ocena)
            </th>
            <th>
                Ogled
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (OddajaView item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImeStudenta)
            </td>
            @if (item.DatumOddaje.Year == 0001)
            {
                <td>Naloga še ni oddana</td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.DatumOddaje)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Ocena)
            </td>
            <td>
                <a asp-action="OddanaNalogaUpdate" asp-route-id="@item.StudentNalogaID">Podrobnosti</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index">Nazaj na pregled nalog</a>